
<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <link rel="icon" href="assets/images/favicon.png" sizes="35x35" type="image/png">
      <title>Registro</title>
      <link rel="stylesheet" href="assets/css/all.min.css">
      <link rel="stylesheet" href="assets/css/flaticon.css">
      <link rel="stylesheet" href="assets/css/animate.min.css">
      <link rel="stylesheet" href="assets/css/bootstrap.css">
      <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">
      <link rel="stylesheet" href="assets/css/jquery.bootstrap-touchspin.min.css">
      <link rel="stylesheet" href="assets/css/slick.css">
      <link rel="stylesheet" href="assets/css/responsive.css">
      <link rel="stylesheet" href="assets/css/color.css">
      <link rel="stylesheet" href="assets/css/bootstrap-multiselect.css">
      <link rel="stylesheet" href="assets/css/style.css">
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HZVPVQSG3M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HZVPVQSG3M');
</script>
   </head>
   <body>
      <main>
        <header class="stick style1 w-100" style=" background-color: #860f01;">
                <div class="container">
                    <div class="logo-menu-wrap w-100 d-flex flex-wrap justify-content-between align-items-start">
                        <div class="logo"><h1 class="mb-0"><a href="index.html" title="Home"><!--<img class="img-fluid" src="assets/images/img/logoforos.png" alt="Logo" srcset="assets/images/img/logoforos.png">-->LOGO</a></h1></div> 
                        <nav class="d-inline-flex align-items-center">
                            <div class="header-left">
                                <ul class="mb-0 list-unstyled d-inline-flex">
                                    <li class="menu-item-has-children"><a href="./" title="">INICIO</a></li>
                                    <li class="menu-item-has-children"><a href="historia.html" title="">HISTORIA</a></li>  
                                    <li><a href="#" title="">FORMULARIO</a></li>
                                    <li><a href="oferta.html" title="">OFERTA</a></li>
                                    <li><a href="#" title="">BLOG</a></li>
                                </ul>
                            </div>
                            <div class="header-right-btns">
                                <!--<a class="search-btn" href="javascript:void(0);" title="">
                                    <i class="flaticon-magnifying-glass"></i></a>-->
                               <a class="user-btn" href="javascript:void(0);" title=""><i class="flaticon-user"></i></a>
                               <!-- <a class="menu-btn" href="javascript:void(0);" title=""><i class="flaticon-menu"></i></a>-->
                            </div>
                        </nav>
                    </div><!-- Logo Menu Wrap -->
                </div>
            </header><!-- Header -->
            <div class="menu-wrap">
                <span class="menu-close"><i class="fas fa-times"></i></span>
                <ul class="mb-0 list-unstyled w-100">
                    <li class="menu-item-has-children"><a href="./" title="">INICIO</a></li>
                    <li class="menu-it@em-has-children"><a href="#" title="">HISTORIA</a></li>  
                    <li><a href="#">FORMULARIO</a></li>
                    <li><a href="oferta.html" title="">OFERTA</a></li>
                    <li><a href="#" title="">BLOG</a></li>                         
                </ul>
            </div><!-- Menu Wrap -->

         <!-- Menu Wrap -->
         <section>
            <div class="w-100 text-center black-layer position-relative">                   
            </div><br><br><br>
         </section>
     


            <section id="foros">
                <div class="w-100 pt-120 pb-120 position-relative">
                    <div class="container">
                        <div class="sec-title mb-70 w-100 text-center">                            
                        </div><!-- Sec Title -->
                        <div class="about-wrap w-100">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-6 order-lg-1">
                                             <iframe src="https://player.vimeo.com/video/719179373?h=8fa8921de4" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                                  
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-6" >                                    
                                    <h2 style="color: #b48f5e">Lorem Ipsum</h2>
                                    <div class="about-desc w-100">
                                        <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p><br>
                                        <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- About Wrap -->
                    </div>
                </div>
            </section>

        <section>
                <div class="w-100 pt-110 pb-120 gray-layer opc9 position-relative" >
                    <div class="fixed-bg patern-bg" style="background-image: url(assets/images/patter-bg1.jpg);"></div>

                    <div class="container">
                    <div class="sec-title mb-50 title-wth-btn d-flex flex-wrap justify-content-between align-items-center w-100">


                        <div class="col-md-4 col-sm-4 col-lg-4">
                            <div class="sec-title-btn">
                                <a class="thm-btn lft-icon fill-btn" href="#" target="_black"><i class="flaticon-download"></i>Descargar Cronológico<span></span></a>
                            </div>
                        </div>
                        </div><!-- Sec Title -->
                        <div class="event-wrap w-100">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-4">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#event-tab1" title="">Abril<span>2018</span></a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#event-tab2" title="">Febrero<span>2019</span></a></li>
                                    </ul>
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-8">
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="event-tab1">
                                            <div class="event-style1">
                                                <div class="event-meta text-right">
                                                   <!-- <span class="d-block">Workshop</span>-->
                                                    <i class="thm-clr">• 12 – abril – 2018</i>
                                                </div>
                                                <div class="event-info">
                                                     <p class="mb-0">Convocatoria para asistir al Taller 1: “Análisis académico para la vinculación universidad-empresa y la formación dual”.</p>
                                                </div>
                                            </div>
                                            <div class="event-style1 w-100">
                                                <div class="event-meta text-right">
                                                    <i class="thm-clr">• 13 al 17 – abril – 2018 </i>
                                                </div>
                                                <div class="event-info">
                                                    <p class="mb-0">Seguimiento y confirmación de asistencia al Taller 1.</p>
</a></h3>                                                    
                                                </div>
                                            </div>
                                            <div class="event-style1 w-100">
                                                <div class="event-meta text-right">
                                                    <i class="thm-clr">• 18 – abril – 2018</i>
                                                </div>
                                                <div class="event-info">
                                                    <p class="mb-0">-Taller 1: “Análisis académico para la vinculación universidad-empresa y la formación dual”.</p>
                                                    <p class="mb-0">-Elaboración del instrumento de Encuesta 1: “Vinculación universidad-empresa y Formación Dual”.</p>
                                                    <p class="mb-0">-Sistematización en línea de la Encuesta 1: “Vinculación universidad-empresa y Formación Dual”.</p>
                                                </div>
                                            </div>
                                            <div class="event-style1 w-100">
                                                <div class="event-meta text-right">
                                                    <i class="thm-clr">19 al 25 – abril – 2018</i>
                                                </div>
                                                <div class="event-info">
                                                    <p class="mb-0">-Aplicación de la Encuesta 1: “Vinculación universidad-empresa y Formación Dual”.</p>
                                                    <p class="mb-0">-Seguimiento y confirmación de respuesta del Instrumento en línea Encuesta 1.</p>

                                                </div>
                                            </div>
                                            <div class="event-style1 w-100">
                                                <div class="event-meta text-right">
                                                    <i class="thm-clr">25 – abril – 2018</i>
                                                </div>
                                                <div class="event-info">
                                                    <p class="mb-0">Envío a la SES de información recolectada en el instrumento en línea Encuesta 1.</p>

                                                </div>
                                            </div>
                                            <div class="event-style1 w-100">
                                                <div class="event-meta text-right">
                                                    <i class="thm-clr">27 – abril – 2018</i>
                                                </div>
                                                <div class="event-info">
                                                    <p class="mb-0">Socialización del tema Formación Dual por parte de la ANUIES-FESE en la "L Sesión Ordinaria CUPIA".</p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Mayo 2018-->
                                        <div class="tab-pane fade" id="event-tab2">
                                            <div class="event-style1 w-100">
                                                <div class="event-meta text-right">
                                                   <!-- <i class="thm-clr">09:30 – 10:00 horas</i>-->
                                                </div>
                                                <div class="event-info">
                                                    <!--<h3 class="mb-0">Bienvenida al segundo día</h3>-->
                                                    <p class="mb-0">Actualización del “Marco de referencia para la Formación Dual en la Educación Superior en México” conforme al Acuerdo No. 18/11/2018.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Event Wrap -->
                    </div>
                </div>
            </section>


            <footer style="background-color: #860f01;" id="contacto">
                <div class="w-100 pt-121  opc1 position-relative">
                    <div class="container position-relative">
                        <div class="footer-wrap w-100 text-center">
                            <div class="footer-inner d-inline-block">
                                <div class="logo d-inline-block">
                                   <!-- <h1 class="mb-0">
                                        <a href="index.html" title=""><br>
                                            <img class="img-fluid" src="assets/images/img/logoforos.png" alt="Logo">
                                        </a>
                                    </h1>-->
                                </div>
                                <p class="mb-0" style="color: #fff">Contacto:</p>
                                <p class="mb-0" style="color: #fff">forosdevinculacion@fese.mx</p>
                            </div>
                            <div class="footer-bottom d-flex flex-wrap justify-content-between w-100">                              
                            </div>
                        </div>
                    </div>
                </div>
            </footer><!-- Footer -->
      </main>
      <!-- Main Wrapper -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/popper.min.js"></script>
      <script src="assets/js/bootstrap.min.js"></script>
      <script src="assets/js/wow.min.js"></script>
      <script src="assets/js/counterup.min.js"></script>
      <script src="assets/js/jquery.downCount.js"></script>
      <script src="assets/js/jquery.fancybox.min.js"></script>
      <script src="assets/js/jquery.bootstrap-touchspin.min.js"></script>
      <script src="assets/js/perfect-scrollbar.min.js"></script>
      <script src="assets/js/slick.min.js"></script>
      <script src="assets/js/isotope.min.js"></script>
      <script src="assets/js/custom-scripts.js"></script>        
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="assets/js/bootstrap-multiselect.js"></script>
    

   </body>
</html>