.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 50px;
    width: 54px;

    z-index: 15;
    background-color: #00b341;
    color: white;
    padding: 12px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 4px #000;
}
.whatsapp-popup {
position: fixed;
z-index: 100;
bottom: 80px;
right: 0; /* Cambiamos el valor para que la ventana esté oculta fuera del lado derecho */
width: auto;
max-width: 350px;
height: 300px;
background-color: #fff;
border: 1px solid #ccc;
box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
opacity: 0;
transition: opacity 0.3s ease, right 0.3s ease; /* Actualizamos la transición para que se aplique a la propiedad left */
padding: 20px;
border-radius: 5px;
background-color: #00b341;


}

.whatsapp-popup.open {
opacity: 1;
right: 20px; /* Cambiamos el valor para que la ventana aparezca desde el lado derecho */
}

.whatsapp-popup h2 {
font-size: 20px;
margin-bottom: 10px;
}

.whatsapp-popup p {
font-size: 16px;
line-height: 1.5;
}

.whatsapp-popup .close-button {
position: absolute;
top: 10px;
right: 10px;
background: none;
border: none;
font-size: 18px;
cursor: pointer;
color: #00b341;
background-color: #fff;
border-radius: 100%;
width: 30px;
}

.whatsapp-popup .send-button {
display: inline-block;
padding: 8px 16px;
background-color: green;
color: white;
border: none;
border-radius: 5px;
font-weight: bold;
cursor: pointer;
margin-right: 10px;
}

.whatsapp-popup .close-button:hover, .send-button:hover{
    box-shadow: 0px 0px 8px #000;
}

.whatsapp-popup .input-field {
width: 100%;
padding: 8px;
border: 1px solid #ccc;
border-radius: 5px;
margin-bottom: 15px;
}
.head-whatssap{
background-color: #00b341;
color: #fff;
width: 100%;
}
textarea {
resize: none;
}